pandas==1.3.1
pymongo==3.12.0
ipython==7.26.0
tqdm==4.62.2
xlsxwriter==3.0.1
openpyxl==3.0.7
matplotlib==3.4.3
seaborn==0.11.2
scipy==1.7.1
sympy==1.8
dask==2021.8.1
cubes==1.1
sqlalchemy==1.4.23
sagemath==1.3.0
scikit-image==0.18.3
scikit-learn==0.24.2
tensorflow==2.6.0
theano==1.0.5
statsmodels==0.12.2
apache-airflow==2.1.3 
fastapi==0.68.1
requests==2.26.0
